.header {
    background-color: #3273dc;
    position: fixed;
    top: 2%;
    padding: 0;
    text-align: left;
    left: 5%;
    height: 13%;
    width: 90%;
}
.header-container {
    margin-left: 2%;
    float: relative;
    color:aliceblue;
}