.sign-up-container {
    
    text-align: center;
    padding: 10%;
  
    justify-content:center;
    display: flex;
}

.sign-up-container .form-box-container {

    justify-content: space-between;
    height: 100px;
    width: 600px;
    padding-left: 5%;
    padding-right: 5%;
    
}

.sign-up-container .form-box-container .form-container{
   
    justify-content:space-around;
    display :flex;
    flex-direction: row;
}

.sign-up-container .form-box-container .form-container .user-box {
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}


.sign-up-container .form-box-container .form-container .password-box {
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
}

