.footer {
    background-color: #f1f1f2;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 2.5rem;
  }


b {
  text-align: center;
  text-size-adjust: 10px;
  position: fixed;
  
}