.navigation {
    height: 80px;
    width: 90%;
    display:flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-left: 5%;
    margin-left: 5%;
    margin-top: 1%;
    background-color: rgb(38, 120, 220);
    position: relative;
}




.navigation .logo-container {
    height: 100%;
    width: 70px;
    padding: 10px;
    justify-content:flex-start ;
    color: aliceblue;
}

.navigation .nav-link-container {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
}

.navigation .nav-link-container .nav-link {
    padding: 10px 15px;
    cursor: pointer;
    size: 200px;
    color: aliceblue;
}

